<ion-view view-title="Continents" class="bar-dark">

	<ion-content>
		<div class="row">
			<div class="col col-10"></div>
			<div class="col col-35">
				<img class="full-image" ng-src="{{continents[0].img}}" ng-click="fn_ShowCountries(continents[0].name)">
					<center>{{continents[0].name}}</center>
				</img>
			</div>
			<div class="col col-10"></div>
			<div class="col col-35">
				<img class="full-image" ng-src="{{continents[1].img}}" ng-click="fn_ShowCountries(continents[1].name)">
					<center>{{continents[1].name}}</center>
				</img>
			</div>
			<div class="col col-10"></div>
		</div>
		
		<div class="row">
			<div class="col col-10"></div>
			<div class="col col-35">
				<img class="full-image" ng-src="{{continents[2].img}}" ng-click="fn_ShowCountries(continents[2].name)">
					<center>{{continents[2].name}}</center>
				</img>
			</div>
			<div class="col col-10"></div>
			<div class="col col-35">
				<img class="full-image" ng-src="{{continents[3].img}}" ng-click="fn_ShowCountries(continents[3].name)">
					<center>{{continents[3].name}}</center>
				</img>
			</div>
			<div class="col col-10"></div>
		</div>
		
		<div class="row">
			<div class="col col-10"></div>
			<div class="col col-35">
				<img class="full-image" ng-src="{{continents[4].img}}" ng-click="fn_ShowCountries(continents[4].name)">
					<center>{{continents[4].name}}</center>
				</img>
			</div>
			<div class="col col-10"></div>
			<div class="col col-35">
				<img class="full-image" ng-src="{{continents[5].img}}" ng-click="fn_ShowCountries(continents[5].name)">
					<center>{{continents[5].name}}</center>
				</img>
			</div>
			<div class="col col-10"></div>
		</div>
		
		<div class="row">
			<div class="col col-10"></div>
			<div class="col col-35">
				<img class="full-image" ng-src="{{continents[6].img}}" ng-click="fn_ShowCountries(continents[6].name)">
					<center>{{continents[6].name}}</center>
				</img>
			</div>
			<div class="col col-10"></div>
			<div class="col col-35"></div>
			<div class="col col-10"></div>
		</div>
  </ion-content>

</ion-view>
